#login {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 150px;

    div {
        width: 50%;
        padding: 15px;
        margin: 0 auto;
        border: 3px solid red;

        input {
            width: calc(100% - 30px);
            margin: 10px 0;
        }
        #submit {
            width: 65px;
            height: 25px;
            color: red;
        }
    }
}